In [78]:
import pandas as pd
import numpy as np

In [174]:
math = pd.read_csv('predictions/mathematics.csv', index_col = 'Unnamed: 0')
natural = pd.read_csv('predictions/natural_sciences.csv', index_col = 'Unnamed: 0')
religion = pd.read_csv('predictions/religion.csv', index_col = 'Unnamed: 0')
social = pd.read_csv('predictions/social_sciences.csv', index_col = 'Unnamed: 0')
spanish = pd.read_csv('predictions/spanish.csv', index_col = 'Unnamed: 0')
music = pd.read_csv('predictions/music.csv', index_col = 'Unnamed: 0')

In [131]:
test = pd.read_csv('testset.csv')

In [139]:
math = math.groupby('Customer heading').predictions.agg(['count', 'median']).reset_index().rename(columns={'count': 'math_count', 'median': 'math_median'})

In [141]:
natural = natural.groupby('Customer heading').predictions.agg(['count', 'median']).reset_index().rename(columns={'count': 'natural_count', 'median': 'natural_median'})

In [142]:
religion = religion.groupby('Customer heading').predictions.agg(['count', 'median']).reset_index().rename(columns={'count': 'religion_count', 'median': 'religion_median'})

In [143]:
social = social.groupby('Customer heading').predictions.agg(['count', 'median']).reset_index().rename(columns={'count': 'social_count', 'median': 'social_median'})

In [144]:
spanish = spanish.groupby('Customer heading').predictions.agg(['count', 'median']).reset_index().rename(columns={'count': 'spanish_count', 'median': 'spanish_median'})

In [145]:
music = music.groupby('Customer heading').predictions.agg(['count', 'median']).reset_index().rename(columns={'count': 'music_count', 'median': 'music_median'})

In [157]:
math_natural = pd.merge(math, natural, how='outer')
ma_n_r = pd.merge(math_natural, religion, how='outer')
ma_n_r_s = pd.merge(ma_n_r, social, how='outer')
ma_n_r_s_sp = pd.merge(ma_n_r_s, spanish, how='outer')
df = pd.merge(ma_n_r_s_sp, music, how='outer')

In [158]:
df = df.fillna(0)

In [159]:
df['total teachers'] = df['math_count'] + df['religion_count'] + df['social_count'] + \
             df['spanish_count'] + df['music_count'] + df['natural_count']

In [160]:
df.sort_values(['total teachers'], ascending=False)

,Customer heading,math_count,math_median,natural_count,natural_median,religion_count,religion_median,social_count,social_median,spanish_count,spanish_median,music_count,music_median,total teachers
309,175063,4.0,0.418476,5.0,0.513873,6.0,0.384747,5.0,0.511645,4.0,0.530453,3.0,0.414123,27.0
388,205565,5.0,0.430968,5.0,0.432357,5.0,0.460460,6.0,0.410392,6.0,0.459319,0.0,0.000000,27.0
138,137668,4.0,0.533373,6.0,0.524582,4.0,0.415744,3.0,0.390135,4.0,0.311918,5.0,0.340492,26.0
140,137688,4.0,0.534866,3.0,0.434544,5.0,0.431792,4.0,0.516556,4.0,0.499870,5.0,0.464861,25.0
2,136372,5.0,0.530383,6.0,0.387190,6.0,0.538676,3.0,0.586788,5.0,0.595357,0.0,0.000000,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,138344,1.0,0.442671,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0
603,137975,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0,0.559339,0.0,0.000000,1.0
180,137982,1.0,0.447504,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0
606,138285,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0,0.561970,0.0,0.000000,1.0
433,137754,0.0,0.000000,1.0,0.632741,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0

In [161]:
df['prob_sum'] = df['math_median'] + df['natural_median'] + df['religion_median'] + df['social_median'] + df['spanish_median'] + df['music_median']

In [163]:
df['prob_mean'] = df['prob_sum'] / 6

In [169]:
df['prob_per_teacher'] = df['total teachers'] / df['prob_sum']

In [183]:
df.sort_values(['prob_mean', 'total teachers'], ascending=False)[:10]

,Customer heading,math_count,math_median,natural_count,natural_median,religion_count,religion_median,social_count,social_median,spanish_count,spanish_median,music_count,music_median,total teachers,prob_sum,prob_mean,prob_per_teacher
341,187002,6.0,0.708469,3.0,0.643662,5.0,0.221418,3.0,0.588995,4.0,0.600577,1.0,0.623565,22.0,3.386685,0.564447,6.496028
139,137677,2.0,0.474666,2.0,0.591930,1.0,0.410130,1.0,0.649860,2.0,0.501815,1.0,0.639029,9.0,3.267430,0.544572,2.754459
40,136651,2.0,0.434087,1.0,0.595021,1.0,0.393647,3.0,0.566734,2.0,0.434884,1.0,0.573823,10.0,2.998196,0.499699,3.335339
350,192992,5.0,0.518789,5.0,0.415759,2.0,0.514251,3.0,0.522524,2.0,0.480483,3.0,0.475294,20.0,2.927100,0.487850,6.832700
16,136456,5.0,0.446529,3.0,0.535568,3.0,0.424086,3.0,0.469063,2.0,0.596990,6.0,0.442517,22.0,2.914752,0.485792,7.547811
411,210414,3.0,0.473511,5.0,0.464800,4.0,0.633255,5.0,0.444050,2.0,0.488440,3.0,0.403990,22.0,2.908046,0.484674,7.565218
257,138594,6.0,0.459053,5.0,0.574646,3.0,0.462342,4.0,0.472520,3.0,0.509760,2.0,0.423094,23.0,2.901415,0.483569,7.927167
6,136387,3.0,0.476131,4.0,0.467137,4.0,0.401822,3.0,0.492398,3.0,0.463621,1.0,0.598076,18.0,2.899185,0.483197,6.208642
140,137688,4.0,0.534866,3.0,0.434544,5.0,0.431792,4.0,0.516556,4.0,0.499870,5.0,0.464861,25.0,2.882489,0.480415,8.673060
408,210338,4.0,0.445836,4.0,0.478034,4.0,0.476701,5.0,0.406431,4.0,0.514208,1.0,0.541967,22.0,2.863177,0.477196,7.683771

In [184]:
df.sort_values(['prob_mean', 'total teachers'], ascending=False)[:10].to_csv('top10_schools_to_target.csv', index=False)

In [196]:
locations = pd.read_excel('Datasets/School locations.xlsx')

In [203]:
locations_with_predictions = pd.merge(df, locations, on='Customer heading', how='left')
locations_with_predictions.to_csv('locations_with_predictions.csv', index=False)